<%- include('partials/head') %>
<section class="card narrow">
  <h1 class="error-status"><%= status %></h1>
  <p class="lead"><%= message %></p>
  <p><a class="button" href="/">Return home</a></p>
</section>
<%- include('partials/foot') %>
